{"openapi":"3.0.3","info":{"title":"FlightFinder Aviation Safety Data API","version":"1.0.0","description":"Read-only JSON API over FlightFinder's merged aviation-safety corpus: accident narratives aggregated from 120+ official investigation agencies, deduplicated into one occurrence-level dataset with derived family analytics.\n\nAuthentication: `Authorization: Bearer YOUR_KEY`. The key must travel in the header — `?api_key=` is rejected with 401 `query_key_unsupported`, because query strings end up in access logs and browser history.\n\nGetting a key: keys belong to a himaxym.com account. Sign in, then `POST /keys` with your account's JWT in `Authorization: Bearer` — the response carries the raw API key exactly once (only a hash is stored). Up to 5 active keys per account; `DELETE /keys/{id}` frees a slot.\n\nNo key required to start: every GET data endpoint answers without any Authorization header at the keyless tier, 100 requests/day/IP.\n\nRate limits: no key — 100 requests/day/IP; free key — 1000/day and 60/minute; pro key — 20000/day and 60/minute. Daily quotas reset at UTC midnight; 429 responses carry a `Retry-After` header (seconds — time to UTC midnight for the daily quota, up to 60 for the per-minute limiter). A newly created key, or an upgrade to pro, can take up to 5 minutes to be visible to every worker.\n\nLicensing: facts and merged/derived data are always returned in full. `narrative_text` is full for open-licensed sources (CC, OGL, Licence Ouverte/Etalab, public domain) and an ~300-char excerpt plus a `source_url` deep link otherwise — see `GET /sources` for the per-source policy. Every record carries `source`, `attribution`, `license` and a deep link; visible attribution is required when displaying or republishing.","termsOfService":"https://himaxym.com/developers","contact":{"url":"https://himaxym.com/developers"}},"servers":[{"url":"https://himaxym.com/api/v1/data"}],"security":[{"bearerKey":[]}],"paths":{"/keys":{"post":{"summary":"Create an API key (account required)","description":"Send your himaxym.com account JWT as the bearer token — NOT an API key. Returns the raw key exactly once; only a hash is stored. Up to 5 active keys per account (409 `key_limit` beyond that); the /keys routes accept 30 requests per 15 minutes per IP.","security":[{"bearerKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["label"],"properties":{"label":{"type":"string","minLength":1,"maxLength":64,"description":"A name for the key (your app or project)."}}}}}},"responses":{"201":{"description":"Key created — store `key` now, it is never shown again.","content":{"application/json":{"schema":{"type":"object","properties":{"key":{"type":"string","example":"ffd_..."},"tier":{"type":"string","enum":["free"]},"limits":{"type":"object","properties":{"daily":{"type":"integer","example":1000},"perMinute":{"type":"integer","example":60}}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/AccountAuthRequired"},"409":{"description":"`key_limit` — 5 active keys already; revoke one with DELETE /keys/{id} first.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"$ref":"#/components/responses/RateLimited"}}},"get":{"summary":"List your API keys (metadata only)","description":"Account JWT as the bearer token. Never returns a secret — id, label and usage only.","security":[{"bearerKey":[]}],"responses":{"200":{"description":"The calling account's active keys.","content":{"application/json":{"schema":{"type":"object","properties":{"keys":{"type":"array","items":{"type":"object"}}}}}}},"401":{"$ref":"#/components/responses/AccountAuthRequired"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/keys/{id}":{"delete":{"summary":"Revoke one of your own API keys","description":"Account JWT as the bearer token. Owner-scoped: a key that is not yours answers 404, not 403.","security":[{"bearerKey":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"},"example":123}],"responses":{"200":{"description":"Revoked."},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/AccountAuthRequired"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/ping":{"get":{"summary":"Connectivity / key check","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"}}}}}},"401":{"$ref":"#/components/responses/BadKey"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/events":{"get":{"summary":"List occurrences (cursor pagination)","parameters":[{"name":"from","in":"query","schema":{"type":"string","format":"date"},"description":"Earliest event date (YYYY-MM-DD)."},{"name":"to","in":"query","schema":{"type":"string","format":"date"},"description":"Latest event date (YYYY-MM-DD)."},{"name":"country","in":"query","schema":{"type":"string"},"description":"ISO 3166-1 alpha-2 country code."},{"name":"type","in":"query","schema":{"type":"string"},"description":"ICAO aircraft type designator (e.g. B738)."},{"name":"family","in":"query","schema":{"type":"string"},"description":"Aircraft family slug (e.g. boeing-737)."},{"name":"operator","in":"query","schema":{"type":"string"},"description":"Operator name substring match."},{"name":"fatal","in":"query","schema":{"type":"string","enum":["1"]},"description":"Only fatal occurrences."},{"name":"limit","in":"query","schema":{"type":"integer","minimum":1,"maximum":100,"default":25}},{"name":"cursor","in":"query","schema":{"type":"string"},"description":"Opaque cursor — pass the previous page's next_cursor."}],"responses":{"200":{"description":"A page of occurrences with per-source attribution.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Occurrence"}},"next_cursor":{"type":"string","nullable":true}}}}}},"401":{"$ref":"#/components/responses/BadKey"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/events/{id}":{"get":{"summary":"One occurrence with sources and narrative refs","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"example":"evt:aaiahk:2016-02-27:loss-of-control-inflight-accident-invest:ZLINZ242L"}],"responses":{"200":{"description":"Occurrence facts + sources[] (attribution/license/url) + narratives[] refs.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Occurrence"}}}},"401":{"$ref":"#/components/responses/BadKey"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/narratives/{source}/{id}":{"get":{"summary":"Narrative by source + the authority's own case id","description":"narrative_text is full for open-licensed sources, an ~300-char excerpt + source_url deep link otherwise (policy field on GET /sources). Published article rewrites appear as a first-paragraph excerpt + canonical_url; pro keys also receive full_text under the no-public-republication license. Case ids containing '/' must be URL-encoded.","parameters":[{"name":"source","in":"path","required":true,"schema":{"type":"string"},"description":"Source code (see GET /sources).","example":"ntsb"},{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"The authority's own case id.","example":"20080107X00026"}],"responses":{"200":{"description":"Policy-tiered narrative + facts + attribution.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Narrative"}}}},"401":{"$ref":"#/components/responses/BadKey"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/aircraft/{family}/safety":{"get":{"summary":"Family safety stats from the merged corpus","parameters":[{"name":"family","in":"path","required":true,"schema":{"type":"string"},"description":"Aircraft family slug (e.g. boeing-737).","example":"boeing-737"}],"responses":{"200":{"description":"Family info, ICAO type list, and merged-corpus stats.","content":{"application/json":{"schema":{"type":"object","properties":{"family":{"type":"object"},"types":{"type":"array","items":{"type":"string"}},"stats":{"type":"object","nullable":true},"attribution":{"type":"string"}}}}}},"401":{"$ref":"#/components/responses/BadKey"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/wildlife-strikes":{"get":{"summary":"FAA wildlife strike database — global aggregates (US-gov public domain)","responses":{"200":{"description":"Hub rollups: totals, by-year, top airports/species, and notable strikes with FAA narrative remarks.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object"},"attribution":{"type":"string"}}}}}},"401":{"$ref":"#/components/responses/BadKey"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/wildlife-strikes/airport/{slug}":{"get":{"summary":"FAA wildlife strikes for one airport","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"},"description":"Airport slug (lowercased ICAO/FAA id, e.g. kden).","example":"kden"}],"responses":{"200":{"description":"Per-airport totals, top species, and notable strikes.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object"},"attribution":{"type":"string"}}}}}},"401":{"$ref":"#/components/responses/BadKey"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/wildlife-strikes/species/{slug}":{"get":{"summary":"FAA wildlife strikes for one species","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"},"description":"Species slug (e.g. mourning-dove).","example":"mourning-dove"}],"responses":{"200":{"description":"Per-species totals, top airports, and notable strikes.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object"},"attribution":{"type":"string"}}}}}},"401":{"$ref":"#/components/responses/BadKey"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/laser-strikes":{"get":{"summary":"FAA reported laser incidents — global aggregates (US-gov public domain)","responses":{"200":{"description":"Hub rollups: totals, injuries, by-year, top states/colors/airports.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object"},"attribution":{"type":"string"}}}}}},"401":{"$ref":"#/components/responses/BadKey"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/laser-strikes/state/{slug}":{"get":{"summary":"FAA laser incidents for one US state","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"},"description":"State slug (e.g. california).","example":"california"}],"responses":{"200":{"description":"Per-state totals, injuries, and top cities.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object"},"attribution":{"type":"string"}}}}}},"401":{"$ref":"#/components/responses/BadKey"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/laser-strikes/airport/{slug}":{"get":{"summary":"FAA laser incidents near one airport","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"},"description":"Airport identifier slug (e.g. lax).","example":"nct"}],"responses":{"200":{"description":"Per-airport totals, injuries, and top cities.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object"},"attribution":{"type":"string"}}}}}},"401":{"$ref":"#/components/responses/BadKey"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/drone-sightings":{"get":{"summary":"FAA UAS (drone) sighting reports — global aggregates (US-gov public domain)","responses":{"200":{"description":"Hub rollups: totals, by-year, top states/cities, and recent report narratives.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object"},"attribution":{"type":"string"}}}}}},"401":{"$ref":"#/components/responses/BadKey"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/drone-sightings/state/{slug}":{"get":{"summary":"FAA drone sightings for one US state","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"},"description":"State slug (e.g. california).","example":"california"}],"responses":{"200":{"description":"Per-state totals, top cities, and recent report narratives.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object"},"attribution":{"type":"string"}}}}}},"401":{"$ref":"#/components/responses/BadKey"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/airports/{ident}":{"get":{"summary":"Airport reference lookup by ICAO ident or IATA code (OurAirports, CC0)","parameters":[{"name":"ident","in":"path","required":true,"schema":{"type":"string"},"description":"ICAO ident (e.g. KDEN, EGLL) or 3-letter IATA code (e.g. DEN).","example":"KDEN"}],"responses":{"200":{"description":"Airport name, city, country, IATA/ICAO codes, and coordinates.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object"},"attribution":{"type":"string"}}}}}},"401":{"$ref":"#/components/responses/BadKey"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/sources":{"get":{"summary":"The source registry (licenses + narrative policy)","responses":{"200":{"description":"Every source: code, name, license, homepage, narrative count, policy.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"name":{"type":"string"},"license":{"type":"string"},"homepage":{"type":"string","nullable":true},"narratives":{"type":"integer"},"policy":{"type":"string","enum":["full","excerpt"]}}}}}}}}},"401":{"$ref":"#/components/responses/BadKey"},"429":{"$ref":"#/components/responses/RateLimited"}}}}},"components":{"securitySchemes":{"bearerKey":{"type":"http","scheme":"bearer","description":"API key as a bearer token. On the /keys management routes this is the account JWT instead — the API key itself cannot create or revoke keys."}},"schemas":{"Error":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"rate_limited"},"message":{"type":"string"}}}}},"SourceLink":{"type":"object","properties":{"source":{"type":"string"},"attribution":{"type":"string"},"license":{"type":"string"},"url":{"type":"string","nullable":true}}},"Occurrence":{"type":"object","description":"Occurrence facts (always full) + per-source attribution. The detail endpoint adds narratives[] refs.","properties":{"id":{"type":"string"},"occurrence_type":{"type":"string"},"event_date":{"type":"string"},"severity":{"type":"string"},"country_iso":{"type":"string","nullable":true},"type_icao":{"type":"string","nullable":true},"family_slug":{"type":"string","nullable":true},"registration":{"type":"string","nullable":true},"operator":{"type":"string","nullable":true},"fatalities_total":{"type":"integer"},"sources":{"type":"array","items":{"$ref":"#/components/schemas/SourceLink"}}}},"Narrative":{"type":"object","properties":{"source":{"type":"string"},"id":{"type":"string","description":"The authority's own case id."},"slug":{"type":"string"},"policy":{"type":"string","enum":["full","excerpt"]},"narrative_text":{"type":"string"},"probable_cause":{"type":"string","nullable":true},"phase_of_flight":{"type":"string","nullable":true},"facts":{"type":"object","nullable":true},"attribution":{"type":"string"},"license":{"type":"string"},"source_url":{"type":"string"},"article":{"type":"object","nullable":true,"properties":{"title":{"type":"string"},"excerpt":{"type":"string"},"canonical_url":{"type":"string"},"full_text":{"type":"string","description":"Pro tier only."},"license":{"type":"string","description":"Pro tier only: no-public-republication."},"license_note":{"type":"string"}}}}}},"responses":{"AccountAuthRequired":{"description":"The /keys management routes need your himaxym.com ACCOUNT JWT, not an API key. Note the body shape differs from the data endpoints: `{\"success\": false, \"message\": \"Unauthorized\"}`.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"message":{"type":"string","example":"Unauthorized"}}}}}},"BadKey":{"description":"Unknown or revoked API key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"BadRequest":{"description":"Invalid request body or parameters.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"NotFound":{"description":"No record matches.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"RateLimited":{"description":"Rate limit exceeded — retry after the Retry-After header (seconds).","headers":{"Retry-After":{"schema":{"type":"integer"},"description":"Seconds until the quota resets."}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}}